@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700);

html, body {
	display: flex;
	justify-content: center;

	background: #eee;
}

a {
	color: #2980b9;
	text-decoration: inherit;
}

a:hover {
	text-decoration: underline;
}

span.right {
	float: right;
}

main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	width: 800px;
	margin: 32px;
	padding: 32px;

	background: #fff;
	border: 2px solid #ddd;
	box-shadow: 6px 6px 16px rgba(0, 0, 0, .1);
	
	font-family: 'Source Sans Pro';
}

header {
	display: flex;
	flex-direction: column;

	width: 100%;
}

#name {
	margin: 0;

	text-align: center;
	font-weight: 300;
}

#personal {
	text-align: center;
	font-size: 14px;
}

#links {
	display: flex;
	justify-content: center;
}

h2 {
	border-bottom: 1px solid #888;
	margin-bottom: 4px;

	font-weight: 300;
}

section {
	line-height: 140%;
}

section p {
	margin: 8px 0 0 0;
}

ul {
	margin: 0 0 4px 0;
}

.skill-type {
	display: flex;
	justify-content: justify;
	margin: 8px 0;
}

.skill-type-title {
	width: 76px;
	margin-right: 8px;
	font-weight: 700;
	text-align: right;
}

.skills {
	flex: 1 0;
	margin-left: 8px;
}

#print-notice {
	margin: 32px 0 0 0;
	text-align: center;
	color: #aaa;
	font-size: 14px;
}

@media screen {
	.print-only {
		display: none;
	}
}

@media screen and (max-width:900px) {
	html, body {
		justify-content: justify;
		width: 100%;

		background: none;
	}

	main {
		width: 100%;
		margin: 0;
		padding: 16px;

		background: none;
		border: none;
		box-shadow: none;
	}
}

@media screen and (max-width: 660px) {
	.extra {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	span.right {
	}
}

@media print {
	.screen-only {
		display: none;
	}

	html, body {
		justify-content: justify;
		width: 100%;

		background: none;
	}

	main {
		width: 100%;
		margin: 0;
		padding: 0;

		background: none;
		border: none;
		box-shadow: none;
	}

	section {
		line-height: 115%;
		font-size: 14px;
	}

	a {
		color: inherit;
		text-decoration: inherit;
	}
}